In [1]:
pwd

'C:\\Users\\jhon\\Documents\\Beyond 2019\\ML Bootcamp\\Refactored_Py_DS_ML_Bootcamp-master\\03-Python-for-Data-Analysis-Pandas'

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
df.to_csv('My_output',index=False)

In [9]:
df=pd.read_csv('My_output')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [15]:
df=pd.read_excel('Excel_sample.xlsx',sheet_name='Sheet1')

In [17]:
data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')
data[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 1, 2019"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","January 29, 2019"

In [18]:
sal = pd.read_csv('Salaries.csv')

FileNotFoundError: [Errno 2] File b'Salaries.csv' does not exist: b'Salaries.csv'